/* ============Õº∆¨+ΩÈ…‹¡–±Ì============== */


ul.newspicmemo_title{
margin:0;
padding:0
}

ul.newspicmemo_title li{
clear:all;
list-style-type: none; 
padding:3px;
margin-bottom:3px;
overflow: hidden;
}

ul.newspicmemo_title div.tm{
margin-right:6px;
background:url(../images/arrow1.gif) 0px 8px no-repeat;
}


ul.newspicmemo_title a.title:link,ul.newspicmemo_title a.title:visited,ul.newspicmemo_title a.title:active{
font:bold 12px/22px simsun;
color:#333;
text-decoration: none;
padding-left:15px;
}

ul.newspicmemo_title a.title:hover{
font:bold 12px/22px simsun;
color:#e10000;
text-decoration: underline;
}

ul.newspicmemo_title div.memo{
font:12px/18px simsun;
margin-top:3px;
color:#666;
}
