/* ============ндубап╠М============== */

ul.newslist{
margin:15px 14px 0px 3px;
padding:0px;
}

li.newslist {
margin:0px;
padding-left:14px;
list-style-type: none;
height:28px;
background: transparent url(../images/arrow.jpg) 0px 0px no-repeat;
}

a.newslist:link,a.newslist:visited,a.newslist:active{
color:#333;
text-decoration: none;
font:12px/15px Verdana, Arial, Helvetica, sans-serif;
}

a.newslist:hover{
color:#ff0000;
font:12px/15px Verdana, Arial, Helvetica, sans-serif;
}
