.arrowlistmenu{
margin:0px;
padding:10px 24px 20px 20px;
}

.arrowlistmenu .menuheader{ 
height:28px;
font:12px/30px 'SimSun',Arial,Sans-Serif;
color:#000;
background:url(twomenu.gif) 0px 2px no-repeat;  
margin-bottom: 1px; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding-left:30px; 
cursor: pointer;
}

.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/
background:url(twomenu.gif) 0px 2px no-repeat;  
}

.arrowlistmenu ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
padding:3px 0px;
margin-bottom:1px;
}

.arrowlistmenu ul li{
height:20px;
padding-bottom: 0px; /*bottom spacing between menu items*/
margin-bottom:0px;
}

.arrowlistmenu ul li .opensubheader{ /*Open state CSS for sub menu header*/
background: lightblue !important;
}

.arrowlistmenu ul li .closedsubheader{ /*Closed state CSS for sub menu header*/
background: lightgreen !important;
}

.arrowlistmenu ul li a{
color:#000;
display: block;
font:12px/20px 'SimSun',Arial,Sans-Serif;
padding-left:44px; 
text-decoration: none;
background:url(submenu.gif) 30px 5px no-repeat;  
}

span.nums{
color: #909090;
font:12px/20px 'SimSun',Arial,Sans-Serif;
}


.arrowlistmenu ul li a:visited{
color:#000;
}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
color: #e10000;
}

.arrowlistmenu ul li a.subexpandable:hover{ /*hover state CSS for sub menu header*/
}
