/*===放标签的层===*/

div.gbl205_out{
white-space:nowrap;
overflow:hidden;
height:22px;
position:relative;
margin:0px;
background:url(line.gif) 0 21px no-repeat;
}
 
div.gbl205_out ul.gblable{            
margin:0px;
padding:0px 0px 0px 11px;
}

/*===切换标签的样式
=====必须指定边框编号防止冲突
===*/

li.gbl205{
list-style-type:none;
float:left;
width:67px;
height:22px;
margin:0px 6px 0px 0px;
color:#fff;
text-align:center;
font:12px/25px simsun;
background:url(tagbg.gif) 0 0 no-repeat;
cursor:pointer;
}

/*===切换标签当前选中的样式===*/


li.gbl205_current{
list-style-type:none;
float:left;
width:67px;
height:22px;
margin:0px 6px 0px 0px;
color:#04780a;
text-align:center;
font:12px/25px simsun;
background:url(now.gif) 0 0 no-repeat;
cursor:pointer;
}


/*===more区域样式===*/

div.gbl205_more{
float:right;
}

div.gbl205_more a{
font:12px/28px simsun;
color:#555;
}

